<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">

    <link href="../css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">

    <style>

        .container {

            max-width: 560px;

        }
        .field-error{
            border-color: #dc3545;

            color: #dc3545;
        }
        .object-error{
            border-color: #dc3545;

            color: #dc3545;
            font-size: 1.2em;

        }

    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">

        <h2>상품 확인</h2>

    </div>

    <div>

        <label for="productName">상품명</label>
        <label style="float: right;" th:text="${auctionBoard.date}">작성일 : 2021-03-02</label>

        <input type="text" id="productName" name="productName" th:value="${auctionBoard.productName}" class="form-control"
               value="AAA가 안되요" readonly>
    </div>

    <div>

        <label for="price">상품 가격</label>

        <input type="text" id="price" name="price" class="form-control"
               value="testing" th:value="${auctionBoard.price}" readonly>

    </div>

    <div>

        <label for="text">상품 설명</label>

        <!-- <input type="text" id="price" name="price" class="form-control"
               value="10000" readonly> -->
        <textarea style="resize: none;" cols="30" rows="10" id="text" name="text" class="form-control" th:text="${auctionBoard.Text}" value="10000" readonly>
        </textarea>

    </div>


    <div>

        <label for="seller">판매자</label>

        <input type="text" id="seller" name="seller" class="form-control"
               value="testing" th:value="${auctionBoard.seller}" readonly>

    </div>

    <div>

        <label for="seller">판매여부</label>

        <input type="text" id="soldOut" name="soldOut" class="form-control"
               value="testing" th:value="${auctionBoard.soldOut}" readonly>

    </div>

    <div th:if="${sessionSid == auctionBoard.sellerSid}">
        <hr class="my-4">
        <div class="row">
            <div class="col">

                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/community/auctionBoard/update/{auctionBoardSeq}(auctionBoardSeq=${auctionBoard.auctionSeq})}'|"
                        type="button">게시글 수정</button>
            </div>
            <div class="col">

                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/community/auctionBoard/remove/{auctionBoardSeq}(auctionBoardSeq=${auctionBoard.auctionSeq})}'|"
                        type="button">게시글 삭제</button>
            </div>
        </div>
    </div>


    <br>

    <div class="row">

        <div class="col">

            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/community/auctionBoard}'|"
                    type="button">목록으로</button>
        </div>
    </div>

    </form>
</div> <!-- /container -->

<hr class="my-4">
</body>
</html>
