<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<hr class="my-4">
<div class="container" style="max-width: 600px">

    <div class="row">

        <div class="col" th:if="${sessionForm!=null}" >
            <h5 style="text-align: right;" th:text="|${sessionForm.name} 님|">로그인 사용자 이름</h5>
            <button class="btn btn-secondary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/logout}'|" type="button">로그아웃</button>
        </div>
    </div>

    <h1>졸업고사</h1>
    <div>
        영어 : <span th:if="${examMap['영어'].toString() == 'true'}" th:text="합격"></span>
              <span th:if="${examMap['영어'].toString() == 'false'}" th:text="불합격"></span>
    </div>
    <div>
        성경 : <span th:if="${examMap['성경'].toString() == 'true'}" th:text="합격"></span>
        <span th:if="${examMap['성경'].toString() == 'false'}" th:text="불합격"></span>
    </div>
    <div>
        컴퓨터 : <span th:if="${examMap['컴퓨터'].toString() == 'true'}" th:text="합격"></span>
        <span th:if="${examMap['컴퓨터'].toString() == 'false'}" th:text="불합격"></span>
    </div>
    <div>
        컴퓨터2 : <span th:if="${examMap['컴퓨터2'].toString()} == 'false' and ${sessionForm.major} == '컴퓨터소프트웨어학과'" th:text="해당없음"></span>
        <span th:if="${examMap['컴퓨터2'].toString()} == 'true' and ${sessionForm.major} != '컴퓨터소프트웨어학과'" th:text="합격"></span>
        <span th:if="${examMap['컴퓨터2'].toString()} == 'false' and ${sessionForm.major} != '컴퓨터소프트웨어학과'" th:text="불합격"></span>
    </div>

    <br>
    <br>

    <h1>졸업 총 학점</h1>
    <div>
        졸업학점 : <span th:text="|${creditForm.standardCredit} 학점|"></span>
    </div>
    <div>
        이수학점 : <span th:text="|${creditForm.myCredit} 학점|"></span>
    </div>
    <div>
        달성률 : <span th:text="|${creditForm.creditPercentage} %|"></span>
    </div>

    <br>
    <br>

    <h1>졸업 평균 평점</h1>
    <div>
        졸업평균평점 : <span th:text="|${gpaForm.standardGPA} 점|"></span>
    </div>
    <div>
        내 평균평점 : <span th:text="|${gpaForm.myGPA} 점|"></span>
    </div>
    <div>
        통과여부 : <span th:text="${gpaForm.passGPA}"></span>
    </div>

    <br>
    <br>

    <h1>기초 공통 필수</h1>
    <div>
        채플 : <span th:text="|${bcrForm.chapel}개의 수업이 남았습니다.|"></span>
    </div>
    <div>
        전도훈련 : <span th:text="|${bcrForm.conduction}개의 수업이 남았습니다.|"></span>
    </div>
    <div>
        성서적세계관 : <span th:text="|${bcrForm.bibleStudy}개의 수업이 남았습니다.|"></span>
    </div>
    <div>
        밀알 : <span th:if="${bcrForm.wheatGrain.toString() == 'true'}" th:text="이수"></span>
        <span th:if="${bcrForm.wheatGrain.toString() == 'false'}" th:text="미이수"></span>
    </div>
    <div>
        이수 학점 : <span th:text="|${15 - bcrForm.bibleStudy - bcrForm.conduction - ((bcrForm.wheatGrain == 'true')? 1 : 0)}학점|"></span>
    </div>
    <div>
        남은 학점 : <span th:text="|${bcrForm.bibleStudy + bcrForm.conduction + ((bcrForm.wheatGrain == 'true')? 1 : 0)}학점|"></span>
    </div>

    <br>

    <div class="row">
        <div class="col">

            <button class="btn btn-secondary "
                    style="width: 100%;"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/}'|" type="button">홈으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>